<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Privacy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="box-content2-body" style="padding: 15px">
    <div class="box-content2-body-t">
      <p align="left">
        <strong>psc-thailand.web.app</strong> ได้จัดทำนโยบายคุ้มครองความเป็นส่วนตัวฉบับนี้ขึ้น
        เพื่อคุ้มครองข้อมูลส่วนบุคคลของผู้ใช้บริการทุกท่าน (Personal Information) ที่ติดต่อเข้ามายังเว็บไซต์ของ
        <strong>psc-thailand.web.app</strong> ดังนี้
      </p>
      <p>
        <strong>การเก็บรวบรวมข้อมูลส่วนบุคคล</strong>
      </p>
      <ol>
        <li>
          <p>
            เพื่อความสะดวกในการให้บริการแก่ผู้ใช้บริการทุกท่านที่แวะมายังเว็บไซต์ <strong>(</strong
            ><strong>ของหน่วยงาน</strong><strong>)</strong> ทางเว็บไซต์จึงได้จัดเก็บรวบรวมข้อมูลส่วนบุคคลของท่านไว้ เช่น
            อีเมล์แอดเดรส (Email Address) ชื่อ (Name) ที่อยู่หรือที่ทำงาน (Home or Work Address) รหัสไปรษณีย์ (ZIP Code)
            หรือหมายเลขโทรศัพท์ (Telephone Number) เป็นต้น
          </p>
        </li>
        <li>
          <p align="left">
            ในกรณีที่ท่านสมัคร (Sign up/Register) เพื่อสมัครสมาชิกหรือเพื่อใช้บริการอย่างใดอย่างหนึ่ง
            <strong>psc-thailand.web.app</strong><strong> </strong>จะ เก็บรวบรวมข้อมูลส่วนบุคคลของท่านเพิ่มเติม เช่น เพศ
            (Sex) อายุ (Gender) สิ่งที่โปรดปราน/ความชอบ (Preferences/Favorites) ความสนใจ (Interests)
            และที่อยู่ในการแจ้งค่าใช้จ่าย (Billing Address) เป็นต้น
          </p>
        </li>
        <li>
          <p align="left">
            นอกจากนั้น เพื่อสำรวจความนิยมในการใช้บริการ
            อันจะเป็นประโยชน์ในการนำสถิติไปใช้ในการปรับปรุงคุณภาพในการให้บริการ
            <strong>psc-thailand.web.app</strong> จึงจำเป็นต้องจัดเก็บรวบรวมข้อมูลของท่านบางอย่างเพิ่มเติมด้วย ได้แก่
            หมายเลขไอพี (IP Address) ชนิดของโปรแกรมค้นผ่าน (Browser Type) ชื่อโดเมน (Domain Name) บันทึกหน้าเว็บ (web
            page) ของเว็บไซต์ที่ผู้ใช้เยี่ยมชม เวลาที่เยี่ยมชมเว็บไซต์ (Access Times)
            และเว็บไซต์ที่ผู้ใช้บริการเข้าถึงก่อนหน้านั้น (Referring Website Addresses)
          </p>
        </li>
        <li>
          <p align="left">
            <strong>psc-thailand.web.app</strong> ขอแนะนำให้ท่านตรวจสอบนโยบายความเป็นส่วนตัวของเว็บไซต์อื่นที่เชื่อมโยงจาก
            เว็บไซต์นี้ เพื่อจะได้ทราบและเข้าใจว่าเว็บไซต์ดังกล่าวเก็บรวบรวม ใช้
            หรือดำเนินการเกี่ยวกับข้อมูลส่วยบุคคลของท่านอย่างไร ทั้งนี้ <strong>psc-thailand.web.app</strong
            ><strong> </strong>ไม่ สามารถรองรับข้อความ
            หรือรับรองการดำเนินการตามที่ได้มีการประกาศไว้ในเว็บไซต์ดังกล่าวได้ และไม่ขอรับผิดชอบใดๆ
            หากเว็บไซต์เหล่านั้นไม่ได้ปฏิบัติการหรือดำเนินการใดๆ ตามนโยบายความเป็นส่วนตัวที่เว็บไซต์ดังกล่าวได้ประกาศไว้
          </p>
        </li>
      </ol>
      <p>
        <strong>การใช้ข้อมูลส่วนตัว</strong>
      </p>
      <ol>
        <li align="left">
          <strong>psc-thailand.web.app</strong> จะใช้ข้อมูลส่วนบุคคลของท่านเพียงเท่าที่จำเป็น เช่น ชื่อ และที่อยู่
          เพื่อใช้ในการติดต่อ ให้บริการ ประชาสัมพันธ์ หรือให้ข้อมูลข่าวสารต่างๆ
          รวมทั้งสำรวจความคิดเห็นของท่านในกิจการหรือกิจกรรมของ <strong>psc-thailand.web.app</strong> เท่านั้น
        </li>
        <li>
          <p align="left">
            <strong>psc-thailand.web.app</strong> ขอรับรองว่าจะไม่นำข้อมูลส่วนบุคคลของท่านที่
            <strong>psc-thailand.web.app</strong> ได้เก็บรวบรวมไว้ ไปขายหรือเผยแพร่ให้กับบุคคลภายนอกโดยเด็ดขาด
            เว้นแต่จะได้รับอนุญาตจากท่านเท่านั้น
          </p>
        </li>
        <li>
          <p align="left">
            ในกรณีที่<strong> </strong><strong>psc-thailand.web.app</strong><strong> </strong>ได้
            ว่าจ้างหน่วยงานอื่นเพื่อให้ดำเนินการเกี่ยวกับข้อมูลส่วนบุคคลของท่าน เช่น การจัดส่งพัสดุไปรษณีย์
            การวิเคราะห์เชิงสถิติในกิจการหรือกิจกรรมของ <strong>psc-thailand.web.app</strong> เป็นต้น
            <strong>psc-thailand.web.app</strong> จะกำหนดให้หน่วยงานที่ได้ว่าจ้างให้ดำเนินการดังกล่าว
            เก็บรักษาความลับและความปลอดภัยของข้อมูลส่วนบุคคลของท่าน
            และกำหนดข้อห้ามมิให้มีการนำข้อมูลส่วนบุคคลดังกล่าวไปใช้นอกเหนือจาก กิจกรรมหรือกิจการของ
            <strong>psc-thailand.web.app</strong>
          </p>
        </li>
      </ol>
      <p>
        &nbsp;
      </p>
      <p>
        <strong>สิทธิในการควบคุมข้อมูลส่วนบุคคลของท่าน</strong>
      </p>
      <p align="left">
        เพื่อประโยชน์ในการรักษาความเป็นส่วนตัวของท่านๆ มีสิทธิที่จะให้มีการใช้หรือแชร์ข้อมูลส่วนบุคคลของท่าน
        หรืออาจเลือกที่จะไม่รับข้อมูลหรือสื่อทางการตลาดใดๆจาก <strong>psc-thailand.web.app</strong> ก็ได้
        โดยเพียงแต่ท่านกรอกความจำนงดังกล่าวเพื่อแจ้งให้ <strong>psc-thailand.web.app</strong> เป็นลายลักษณ์อักษร หรือ ทาง
        อีเมล์แอดเดรส (Email Address)<br />
        &nbsp;
      </p>
      <p>
        <strong>การรักษาความปลอดภัยสำหรับข้อมูลส่วนบุคคล</strong>
      </p>
      <p align="left">
        เพื่อประโยชน์ในการรักษาความลับและความปลอดภัยสำหรับข้อมูลส่วนบุคคลของท่าน <strong>psc-thailand.web.app</strong
        ><strong> </strong>จึง ได้กำหนดระเบียบภายในหน่วยงานเพื่อกำหนดสิทธิในการเข้าถึงหรือใช้ข้อมูลส่วน บุคคลของท่าน
        และเพื่อรักษาความลับและความปลอดภัยของข้อมูลบางอย่างที่มีความสำคัญอย่าง ยิ่ง เช่น หมายเลขบัตรเครดิต เป้นต้น
        <strong>psc-thailand.web.app</strong> จึงได้จัดให้มีช่องทางการสื่อสารแบบปลอดภัยสำหรับข้อมูลดังกล่าวด้วยการเข้า
        รหัสลับข้อมูลดังกล่าว เช่น จัดให้มีการใช้ Secure Socket Layer (SSL) protocol เป็นต้น
      </p>
      <p>
        <br />
        <strong>การใช้คุกกี้ </strong><strong>(Cookies)</strong>
      </p>
      <p align="left">
        &ldquo;คุกกี้&rdquo; คือ ข้อมูลที่<strong> </strong><strong>psc-thailand.web.app</strong><strong> </strong>ส่ง
        ไปยังโปรแกรมค้นผ่านเว็บไซต์ (Web browser) ของผู้ใช้บริการ และเมื่อมีการติดตั้งข้อมูลดังกล่าวไว้ในระบบของท่านแล้ว
        หากมีการใช้ &ldquo;คุกกี้&rdquo; ก็จะทำให้เว็บไซต์ <strong>(</strong><strong>ของหน่วยงาน</strong
        ><strong>)</strong> สามารถบันทึกหรือจดจำข้อมูลของผู้ใช้บริการไว้
        จนกว่าผู้ใช้บริการจะออกจากโปรแกรมค้นผ่านเว็บไซต์ หรือจนกว่าผู้ใช้บริการจะทำการลบ &ldquo;คุกกี้&rdquo; นั้นเสีย
        หรือไม่อนุญาตให้ &ldquo;คุกกี้&rdquo; นั้นทำงานต่อไป
      </p>
      <p align="left">
        หากท่านเลือกใช้ &ldquo;คุกกี้&rdquo; แล้ว ท่านจะได้รับความสะดวกสบายในการท่องเว็บไซต์มากขึ้น เพราะ
        &ldquo;คุกกี้&rdquo; จะช่วยจดจำเว็บไซต์ที่ท่านแวะ, เยี่ยมชม หรือท่อง
      </p>
      <p align="left">
        ทั้งนี้ <strong>psc-thailand.web.app</strong> จะนำข้อมูลที่ &ldquo;คุกกี้&rdquo;
        ได้บันทึกหรือเก็บรวบรวมไว้ไปใช้ในการวิเคราะห์เชิงสถิติ หรือในกิจกรรมอื่นของ
        <strong>psc-thailand.web.app</strong> เพื่อปรับปรุงคุณภาพการให้บริการของ <strong>psc-thailand.web.app</strong> ต่อไป<br />
        &nbsp;
      </p>
      <p>
        <strong>การปรับปรุงนโยบายความเป็นส่วนตัว</strong>
      </p>
      <p align="left">
        <strong>psc-thailand.web.app</strong><strong> </strong>อาจ
        ทำการปรับปรุงหรือแก้ไขนโยบายความเป็นส่วนตัวโดยไม่ได้แจ้งให้ท่านทราบล่วง หน้า ทั้งนี้
        เพื่อความเหมาะสมและมีประสิทธิภาพในการให้บริการ ดังนี้
        <strong>psc-thailand.web.app</strong> จึงขอแนะนำให้ผู้ใช้บริการอ่านนโยบายความเป็นส่วนตัวทุกครั้งที่แวะชม หรือเยี่ยมชม
        หรือมีการใช้บริการจากเว็บไซต์ <strong>(</strong><strong>ของหน่วยงาน)</strong><br />
        <br />
        &nbsp;
      </p>
      <p><strong>การปฏิบัติตามนโยบายความเป็นส่วนตัวและการติดต่อกับ </strong><strong>psc-thailand.web.app</strong></p>
      <p align="left">
        ในกรณีที่ท่านมีข้อสงสัย ข้อเสนอแนะ หรือข้อติชมใดๆ เกี่ยวกับนโยบายความเป็นส่วนตัว
        หรือการปฏิบัติตามนโยบายความเป็นส่วนตัวฉบับนี้ <strong>psc-thailand.web.app</strong> ยินดีที่จะตอบข้อสงสัย
        รับฟังข้อเสนอแนะ และคำติชมทั้งหลาย อันจะเป็นประโยชน์ต่อการปรับปรุงการให้บริการของ
        <strong>psc-thailand.web.app</strong> ต่อไป โดยท่านสามารถติดต่อกับ
        <strong>psc-thailand.web.app</strong> ตามที่ปรากฏข้างล่างนี้
      </p>
      <strong>E-mail: siriwasan@gmail.com</strong>
      <div class="cleared"></div>
    </div>
  </div>
</ion-content>
