<ion-app [class.dark-theme]="dark">
  <ion-split-pane>
    <ion-menu>
      <ion-header class="profile-section"  *ngIf="isLoggedIn$ | async">
        <div class="profile">
          <img class="picture" *ngIf="pictureUrl$ | async as pictureUrl" [src]="pictureUrl" />
          <h3 class="name" *ngIf="displayName$ | async as displayName">{{ displayName }}</h3>
        </div>

        <!-- <div class="logo-section" *ngIf="isLoggedIn$ | async">
          <div class="logo-section__wrapper">
            <img class="logo-section__logo" *ngIf="(pictureUrl$ | async) as pictureUrl" [src]="pictureUrl" />
            <h3 class="logo-section__title" *ngIf="(displayName$ | async) as displayName">{{ displayName }}</h3>
          </div>
        </div> -->
      </ion-header>

      <ion-content>
        <ion-list>
          <ion-list-header>
            Navigate
          </ion-list-header>
          <ion-menu-toggle autoHide="false" *ngFor="let p of appPages; let i = index">
            <ion-item [routerLink]="p.url" routerLinkActive="active" routerDirection="root">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{ p.title }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list>
          <ion-list-header>
            Account
          </ion-list-header>

          <ion-menu-toggle autoHide="false" *ngIf="!(isLoggedIn$ | async)">
            <ion-item routerLink="/login" routerDirection="root">
              <ion-icon slot="start" name="log-in"></ion-icon>
              <ion-label>
                Login
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false" *ngIf="!(isLoggedIn$ | async)">
            <ion-item routerLink="/login" routerDirection="root">
              <ion-icon slot="start" name="person-add"></ion-icon>
              <ion-label>
                Signup
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-menu-toggle autoHide="false" *ngIf="isLoggedIn$ | async">
          <ion-item (click)="logout()">
            <ion-icon slot="start" name="log-in"></ion-icon>
            <ion-label>
              Logout
            </ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle autoHide="false">
          <ion-item routerLink="/privacy" routerDirection="root">
            <ion-icon slot="start" name="help"></ion-icon>
            <ion-label>
              Privacy
            </ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-list>
          <ion-list-header>
            Tutorial
          </ion-list-header>
          <ion-menu-toggle autoHide="false">
            <ion-item button (click)="openTutorial()">
              <ion-icon slot="start" name="hammer"></ion-icon>
              <ion-label>Show Tutorial</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-label>
              Dark Theme
            </ion-label>
            <ion-toggle [(ngModel)]="dark"></ion-toggle>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>

    <!-- the main content -->
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
